
<div class="header-without-background">Download Detail</div>
<table class="grid">
  <tr><th>User</th><th>Price</th><th>Date</th></tr>
  {{#each fileobj.downloads as |item|}}
    <tr><td>{{item.user.first_name}}</td><td>{{item.price}}</td><td
      >{{item.created_at}}</td></tr>
  {{/each}}
  <tr></tr>
</table>