<div class="preview">
  <div>class="header-without-background">Preview</div>
  <div>
    {{#each preview_img as |img|}}
      <img class="smallimg" src="/uploads/temp/{{{img}}}" />
    {{/each}}
  </div>
</div>