<div class="hero-box">
  <a href="/file/{{id}}" class="hero-img">
  <input type="hidden" id="hiddurl" value="uploads/doc/{{source_file}}">
    <div class="hero-img" id="hero-div" ></div>
  </a>
</div>
