<div class="header-without-background">Review Detail</div>

{{#if logged_in}}<div class="right-section">
  <a href="/addreview/{{fileobj.id}}" class="btnlink">Add Review</a></div>
{{/if}}
<table class="grid">
  <tr><th>User</th><th>Comment</th></tr>
  {{#each fileobj.reviews as |item|}}
    <tr><td>{{item.user.first_name}}</td><td>{{item.review_content}}</td></tr>
  {{/each}}
  <tr></tr>
</table>