<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookBoard</title>
  <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/form.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
   
</head>
<body>
  
  <header>
    <div class="header-wrapper flex">
      <div class="logo-sec flex">

       <img src="#" alt="BookBoard">
      </div>
      <div class="search-sec flex">
        <form class="search-form flex">
          <input type="text" class="search-field">
          <input type="submit" class="search-submit" value="Search">
        </form>
      </div>
      <div class="nav-sec">
        <div class="nav-item flex">
          <p><a href="/upload">Upload</a></p>
        </div>
        <div class="nav-item flex">
          <p><a href="/login">Login</a></p>
        </div>
        <div class="nav-item flex">
          <p><a href="/register">Register</a></p>
        </div>
      </div>
    </div>
        <div class="menu-button">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="menu-close">
      ✕
    </div>
    <div class="h-menu">
        <form class="search-form flex">
          <input type="text" class="search-field">
          <input type="submit" class="search-submit" value="Search">
        </form>
        <div class="nav-item flex">
          <a href="/upload" class="h-items">Upload</a>
        </div>
        <div class="nav-item flex">
          <a href="/login" class="h-items">Login</a>
        </div>
        <div class="nav-item flex">
          <a href="/register" class="h-items">Register</a>
        </div>
    </div>
  </header>
  <div class="gap"></div>
<main>
  {{{body}}}
</main>


  <footer>
    <p>
      Copyright (C) 2022 BookBoard All Rights Reserved
    </p>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>
