<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookBoard</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
  <header>
    <div class="header-wrapper flex">
      <div class="logo-sec flex">
        <img src="/" alt="BookBoard">
      </div>
      <div class="search-sec flex">
        <form class="search-form flex">
          <input type="text" class="search-field">
          <input type="submit" class="search-submit" value="Search">
        </form>
      </div>
      <div class="nav-sec">
        <div class="nav-item flex">
          <p>Upload</p>
        </div>
        <div class="nav-item flex">
          <p>Login</p>
        </div>
        <div class="nav-item flex">
          <p>Register</p>
        </div>
      </div>
    </div>
  </header>

  {{body}}

  <footer>
    <p>
      Copyright (C) 2022 BookBoard All Rights Reserved
    </p>
  </footer>

  <script src="js/main.js"></script>
</body>
</html>