<form action="/upload" method="post" enctype="multipart/form-data">
  <div class="form-style">
    <div class="header-tab">Add Document</div>
    <div class="row"><label>Title</label><input
        id="title"
        name="title"
        class="form-input"
      /></div>
    <div class="row"><label>Description</label><input
        id="brief_description"
        name="brief_description"
        class="form-input"
      /></div>
    <div class="row"><label>Price</label><input
        id="price"
        name="price"
        class="form-input"
      /></div>
    <div class="row"><label>Document Type</label><select
        class="form-input"
        name="type_id"
        id="type_id"
      >
        {{#each doc_type as |doc|}}
          <option value="{{doc.id}}">{{doc.type_name}}</option>
        {{/each}}
      </select></div>
    <div class="row"><label>Document Category</label><select
        class="form-input"
        name="category_id"
        id="category_id"
      >
        {{#each category as |cat|}}
          <option value="{{cat.id}}">{{cat.category_name}}</option>
        {{/each}}
      </select></div>
    <div class="row"><label>File</label><input
        class="form-input"
        type="file"
        id="source_file"
        name="source_file"
      /></div>
    <div class="row"><button
        type="submit"
        class="btn-submit"
      >Submit</button></div>
  </div>
</form>