{{!-- <form class="review-form">
  <div class="form-style">
    <div class="header-tab">Add Review</div>
    <div class="row"><label>Comment</label>
      <textarea
        rows="4"
        cols="50"
        id="review_content"
        class="form-input"
      ></textarea>
      <input type="hidden" id="file_id" value="{{{id}}}" />
    </div>
    <div class="row"><label>Rating</label>
      <div class="rating"><label>
          <input type="radio" name="stars" id="stars" value="1" />
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" id="stars" value="2" />
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" id="stars" value="3" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" id="stars" value="4" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label>
        <label>
          <input type="radio" name="stars" id="stars" value="5" />
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
          <span class="icon">★</span>
        </label></div></div>
    <div class="row"><button
        type="submit"
        class="btn-submit"
      >Submit</button></div>
  </div>
</form> --}}

  <div class="login-wrapper">
    <div class="form-wrapper login-box">
        <div class="content-header flex h-zero">
            <div class="header-title">
                  <h3>Add Review</h3>
            </div>
        </div>
        <div class="content-body h-zero">
        <form action="" class="filters-form">
            <input type="hidden" id="file_id" value="{{{id}}}" />
            <label class="form-label" for="user-bio">Add Review Comment:</label>
            <textarea type="text" name="user-bio" class="bio-input"></textarea>
            <br>

            <label class="form-label" for="rating">Rating:</label>
            <br>
            <input type="radio" name="stars" id="stars" value="1" />
              <span class="icon">★</span>
            </label>
            <label class="pad">
              <input type="radio" name="stars" id="stars" value="2" />
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label class="pad">
              <input type="radio" name="stars" id="stars" value="3" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label class="pad">
              <input type="radio" name="stars" id="stars" value="4" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            </label>
            <label class="pad">
              <input type="radio" name="stars" id="stars" value="5" />
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
              <span class="icon">★</span>
            <br>
            <button type="submit" value="Login" class="login-btn">Submit</button>
        </form>
      </div>
    </div>

  </div>
<script src="../js/review.js"></script>