  <main>
    <section class="hero">
      <div class="hero-content">
        <div class="hero-box">
            <a href="" class="hero-img">
              <img src="/img/placeholder.jpg" alt="" class="hero-img">
            </a>
        </div>
        <div class="hero-box">
            <a href="" class="hero-img">
              <img src="/img/placeholder2.jpg" alt="" class="hero-img">
            </a>
        </div>
        <div class="hero-box">
            <a href="" class="hero-img">
              <img src="/img/placeholder3.jpg" alt="" class="hero-img">
            </a>
        </div>
        <div class="hero-box">
            <a href="" class="hero-img">
              <img src="/img/placeholder4.jpg" alt="" class="hero-img">
            </a>
        </div>
        <div class="hero-box">
            <a href="" class="hero-img">
              <img src="/img/placeholder3.jpg" alt="" class="hero-img">
            </a>
        </div>
        <div class="hero-box">
            <a href="" class="hero-img">
              <img src="/img/placeholder4.jpg" alt="" class="hero-img">
            </a>
        </div>
        <div class="hero-box">
            <a href="" class="hero-img">
              <img src="/img/placeholder2.jpg" alt="" class="hero-img">
            </a>
        </div>
        <div class="hero-box">
            <a href="" class="hero-img">
              <img src="/img/placeholder4.jpg" alt="" class="hero-img">
            </a>
        </div>
      </div>
    </section>

    <section class="popular">
      <h2>Popular All Time</h2>

      <div class="popular-content flex">
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
      </div>
      <div class="flex">
        <button class="popular-btn">Browse More</button>
      </div>

    </section>

    <section class="recent">
      <h2>Recently Uploaded</h2>

      <div class="recent-content">

        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
        <div class="content-box">
          <div class="content-header flex">
            <div class="header-title">
              <h3>Placeholder Title</h3> 
              <p class="italic">$10 <span>• (122pp)</span></p> 
            </div>
            <div class="header-cover">
              <img src="img/placeholder.jpg" alt="image" class="cover-thumb">
            </div>
          </div>
          <div class="content-body">
            <div class="content-nav">
              <p class="content-item">Jesus "frank" Christ</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Fantasy & Romance</p>
            </div>
            <div class="content-nav">
              <p class="content-item">Magazine</span></p>
            </div>
            <div class="content-nav">
              <button class="read-btn">Read</button>            
            </div>

          </div>
        </div>
      </div>

    </section>


  </main>