<section class="profile flex">

        <div class="account-box account">
            <div class="content-header flex">
              <div class="header-title">
                <h3>{{first_name}} {{last_name}}</h3> 
                <p class="italic">{{email}}</p> 
              </div>
            </div>
            <div class="content-desc">
              <div class="content-nav">
                <p>This is a sample user description. It could be anything they want, but mostly would considered a bio. </p>
              </div>
            </div>
        </div>
        
        <div class="account-box stats">
            <div class="content-header flex ">
              <div class="header-title">
                <h3>Stats</h3> 
              </div>
            </div>
            <div class="content-desc">
              <div class="stats-content">
                <p>Profit: </p>
                <p>Downloads:</p>
                <p>Average Rating:</p>
              </div>
            </div>
        </div>

        <div class="account-box collection">
            <div class="content-header flex ">
              <div class="header-title">
                <h3>My Collection</h3> 
              </div>
            </div>
            <div class="content-desc">
              <div class="content-row">
                <a href="" class="row-img">
                  <img src="/img/placeholder3.jpg" alt="" class="row-img">
                </a>
                <a href="" class="row-img">
                  <img src="/img/placeholder.jpg" alt="" class="row-img">
                </a>
                <a href="" class="row-img">
                  <img src="/img/placeholder2.jpg" alt="" class="row-img">
                </a>
                <a href="" class="row-img">
                  <img src="/img/placeholder.jpg" alt="" class="row-img">
                </a>
              </div>
            </div>
        </div>
        <div class="account-box collection">
            <div class="content-header flex ">
              <div class="header-title">
                <h3>Uploaded Books</h3> 
              </div>
            </div>
            <div class="content-desc">
              <div class="content-row">
                <a href="" class="row-img">
                  <img src="/img/placeholder3.jpg" alt="" class="row-img">
                </a>
                <a href="" class="row-img">
                  <img src="/img/placeholder.jpg" alt="" class="row-img">
                </a>
                <a href="" class="row-img">
                  <img src="/img/placeholder2.jpg" alt="" class="row-img">
                </a>
                <a href="" class="row-img">
                  <img src="/img/placeholder.jpg" alt="" class="row-img">
                </a>
              </div>
            </div>
        </div>






        

    </section>
