<div class="search-wrapper">
    
    <aside class="filters-wrapper">
        <div class="content-header flex">
            <div class="header-title">
                  <h3>Advanced Search</h3>
            </div>
        </div>
        <div class="content-body">
        <form action="" class="filters-form">
            <label class="form-label" for="title">Book Title:</label>
            <input type="text" name="title"">
            <br>
            <label class="form-label" for="author">Author Name:</label>
            <input type="text" name="author">
            <br>
            <label class="form-label" for="genre">Genre:</label>
            <br>
            <select class="search-select" name="genre" class="form-input" multiple>
                <option selected value="sci-fi">Sci-Fi</option>
                <option selected value="romance">Romance</option>
                <option selected value="fantasy">Fantasy</option>
                <option selected value="sci-fi">Sci-Fi</option>
                <option selected value="romance">Romance</option>
                <option selected value="fantasy">Fantasy</option>
            </select>
            <br>
            <label class="form-label" for="category">Category:</label>
            <br>
            <select class="search-select" name="category" class="form-input" multiple>
                <option selected value="sci-fi">Zine</option>
                <option selected value="romance">eBook</option>
                <option selected value="fantasy">Comic</option>
                <option selected value="sci-fi">Court Doc</option>
                <option selected value="romance">Misc</option>
                <option selected value="fantasy">Certificate</option>
            </select>
            <br>
            <label class="form-label" for="free">Free:</label>
            <input type="checkbox" name="free" class="form-input checkbox">
            <br>
            <label class="form-label" for="descending">Sort By Descending:</label>
            <input type="checkbox" name="descending" class="form-input checkbox">
            <br>
            <input type="submit" value="Search" class="filters-btn">
        </form>
    </div>
    </aside>

    <section class="search-results">
        <div class="search-card">

            <div class="search-col-img">
                <div class="search-cover">
                    <img src="placeholder.jpg" alt="image" class="search-thumb">
                </div>
            </div>
            <div class="search-col-body">
                <div class="search-box">
                    <div class="search-header flex">
                      <div class="header-title">
                        <h3>Placeholder Title</h3> 
                        <p class="italic">$10 <span>• (122pp)</span></p> 
                      </div>
                    </div>
                    <div class="search-body">
                        <div class="search-desc">
                            <p>This is an example description of the book, in question.</p>
                        </div>
                        <div class="search-links">

                            <div class="search-nav">
                                <a href="/" class="read-btn">Read</a>            
                            </div>
                        </div>
                    </div>
            </div>  
        </div>

        </div>
        <div class="search-card">

            <div class="search-col-img">
                <div class="search-cover">
                    <img src="placeholder.jpg" alt="image" class="search-thumb">
                </div>
            </div>
            <div class="search-col-body">
                <div class="search-box">
                    <div class="search-header flex">
                      <div class="header-title">
                        <h3>Placeholder Title</h3> 
                        <p class="italic">$10 <span>• (122pp)</span></p> 
                      </div>
                    </div>
                    <div class="search-body">
                        <div class="search-desc">
                            <p>This is an example description of the book, in question.</p>
                        </div>
                        <div class="search-links">

                            <div class="search-nav">
                                <a href="/" class="read-btn">Read</a>            
                            </div>
                        </div>
                    </div>
            </div>  
        </div>

        </div>
        <div class="search-card">

            <div class="search-col-img">
                <div class="search-cover">
                    <img src="placeholder.jpg" alt="image" class="search-thumb">
                </div>
            </div>
            <div class="search-col-body">
                <div class="search-box">
                    <div class="search-header flex">
                      <div class="header-title">
                        <h3>Placeholder Title</h3> 
                        <p class="italic">$10 <span>• (122pp)</span></p> 
                      </div>
                    </div>
                    <div class="search-body">
                        <div class="search-desc">
                            <p>This is an example description of the book, in question.</p>
                        </div>
                        <div class="search-links">

                            <div class="search-nav">
                                <a href="/" class="read-btn">Read</a>            
                            </div>
                        </div>
                    </div>
            </div>  
        </div>

        </div>
        <div class="search-card">

            <div class="search-col-img">
                <div class="search-cover">
                    <img src="placeholder.jpg" alt="image" class="search-thumb">
                </div>
            </div>
            <div class="search-col-body">
                <div class="search-box">
                    <div class="search-header flex">
                      <div class="header-title">
                        <h3>Placeholder Title</h3> 
                        <p class="italic">$10 <span>• (122pp)</span></p> 
                      </div>
                    </div>
                    <div class="search-body">
                        <div class="search-desc">
                            <p>This is an example description of the book, in question.</p>
                        </div>
                        <div class="search-links">

                            <div class="search-nav">
                                <a href="/" class="read-btn">Read</a>            
                            </div>
                        </div>
                    </div>
            </div>  
        </div>

        </div>
        <div class="search-card">

            <div class="search-col-img">
                <div class="search-cover">
                    <img src="placeholder.jpg" alt="image" class="search-thumb">
                </div>
            </div>
            <div class="search-col-body">
                <div class="search-box">
                    <div class="search-header flex">
                      <div class="header-title">
                        <h3>Placeholder Title</h3> 
                        <p class="italic">$10 <span>• (122pp)</span></p> 
                      </div>
                    </div>
                    <div class="search-body">
                        <div class="search-desc">
                            <p>This is an example description of the book, in question.</p>
                        </div>
                        <div class="search-links">

                            <div class="search-nav">
                                <a href="/" class="read-btn">Read</a>            
                            </div>
                        </div>
                    </div>
            </div>  
        </div>

        </div>
        <div class="search-card">

            <div class="search-col-img">
                <div class="search-cover">
                    <img src="placeholder.jpg" alt="image" class="search-thumb">
                </div>
            </div>
            <div class="search-col-body">
                <div class="search-box">
                    <div class="search-header flex">
                      <div class="header-title">
                        <h3>Placeholder Title</h3> 
                        <p class="italic">$10 <span>• (122pp)</span></p> 
                      </div>
                    </div>
                    <div class="search-body">
                        <div class="search-desc">
                            <p>This is an example description of the book, in question.</p>
                        </div>
                        <div class="search-links">

                            <div class="search-nav">
                                <a href="/" class="read-btn">Read</a>            
                            </div>
                        </div>
                    </div>
            </div>  
        </div>

        </div>
        
    </section>
</div>


