<div class="login-wrapper">
  <div class="form-wrapper login-box">
    <div class="content-header flex h-zero">
      <div class="header-title">
        <h3>Register</h3>
      </div>
    </div>
    <div class="content-body h-zero">
      <form action="" class="filters-form">
        <label class="form-label" for="first_name">First Name:</label>
        <input type="text" name="first_name" class="first-input">
        <br>
        <label class="form-label" for="last_name">Last Name:</label>
        <input type="text" name="last_name" class="last-input">
        <br>
        <label class="form-label" for="user-bio">User Description (Tell Us About Yourself!):</label>
        <textarea type="text" name="user-bio" class="bio-input"></textarea>
        <br>
        <label class="form-label" for="email">Email:</label>
        <input type="text" name="email" class="email-input">
        <br>
        <label class="form-label" for="password">Password:</label>
        <input type="password" name="password" class="password-input">
        <br>
        <button type="submit" value="Register" class="login-btn">Register</button>
      </form>
    </div>
  </div>
</div>

<script src="./js/signUp.js"></script>