<form class="signup-form">
  <div class="form-style">
    <div class="header-tab">Sign Up</div>
    <div class="row"><label>First Name</label><input
        id="first_name"
        class="form-input"
      /></div>
    <div class="row"><label>Last Name</label><input
        id="last_name"
        class="form-input"
      /></div>
    <div class="row"><label>Email</label><input
        id="email"
        class="form-input"
      /></div>
    <div class="row"><label>password</label><input
        id="password"
        type="password"
        class="form-input"
      /></div>
    <div class="row"><button
        type="submit"
        class="btn-submit"
      >Submit</button></div>
  </div>

</form>
<script src="./js/signUp.js"></script>