<form class="login-form">
  <div class="form-style">
    <div class="header-tab">Login</div>
    <div class="row"><label>Email</label><input
        id="email"
        class="form-input"
      /></div>
    <div class="row"><label>password</label><input
        id="password"
        type="password"
        class="form-input"
      /></div>
    <div class="row"><button
        type="submit"
        class="btn-submit"
      >Submit</button></div>
  </div>
</form>
<script src="./js/login.js"></script>