{{!-- <form class="login-form">
  <div class="form-style">
    <div class="header-tab">Login</div>
    <div class="row"><label>Email</label><input
        id="email"
        class="form-input"
      /></div>
    <div class="row"><label>password</label><input
        id="password"
        type="password"
        class="form-input"
      /></div>
    <div class="row"><button
        type="submit"
        class="btn-submit"
      >Submit</button></div>
  </div> --}}
{{!-- </form> --}}
  <div class="login-wrapper">
    <div class="form-wrapper login-box">
        <div class="content-header flex h-zero">
            <div class="header-title">
                  <h3>Login</h3>
            </div>
        </div>
        <div class="content-body h-zero">
        <form action="" class="filters-form">
            <label class="form-label" for="email">Email:</label>
            <input type="text" name="email" class="email-input">
            <br>
            <label class="form-label" for="password">Password:</label>
            <input type="password" name="password" class="password-input">
            <br>
            <button type="submit" value="Login" class="login-btn">Login</button>
        </form>
      </div>
    </div>

  </div>
<script src="./js/login.js"></script>