.form-style {
  border: 1px solid var(--dark-accent);
  width: fit-content;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.btn-submit {
  background-color: var(--dark-accent);
  border: 1px solid var(--light-accent);
  border-radius: 5px;
  color: white;

  height: 35px;
font-size: .8vw;
  width: 100px;
  font-weight: bold;
}
.header-tab {
  background-color: var(--dark-accent);
  border-radius: 5px;
  color: white;
  padding: 10px;
  height: 30px;
  font-weight: bold;
}
.row {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-item a {
  text-decoration: none;
  color: #3c3c43;
  cursor: pointer;
}
.row label {
  width: 30%;
}
.form-input {
  width: 50%;
  height: 30px;
  background: none;
  border: 1px var(--light-accent) solid;
  border-radius: 5px;
  padding: 0 10px;
}
main {
  width: 100%;
}
.rating
{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin-left: 10px;
  vertical-align: top;
}
.row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.largeImg {
  height: 400px;
  width: auto;
  border: 1px solid #000;
}
.header-without-background
{
  font-family:'Courier New', Courier, monospace;
  font-size: 2vw;
  font-weight: 900;
  padding: 10px;
}
.header {
  background-color: var(--dark-accent);
  border: 1px solid var(--light-accent);
  font-family:'Courier New', Courier, monospace;
  border-radius: 5px;
  color: white;
  font-size: 1.8vw;
 
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 30px;
}
.description {
  font-size: .8vw;
  font-style: italic;
  margin-bottom: 10px;
}
.content-text {
  font-size: .8vw;
  font-weight: bold;
  margin-bottom: 10px;
}
.width40 {
  width: 40%;
  border: 1px solid #000;
}
table {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  font-size: .8vw;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--dark-accent);
  color: white;
}


.right-section
{
  display: flex;
  justify-content: end;
}
.btnlink:link, .btnlink:visited {
  background-color: var(--dark-accent);
  color: white;
  border: 2px solid var(--dark-accent);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-weight: 900;
  margin-left: 5px;
  font-size: .8vw;
}

.btnlink:hover, .btnlink:active {
  background-color: white;
  color: var(--dark-accent);
}
.smallimg
{
  width: 100px;
  height: auto;
}
.preview
{
  /* border: 1px solid #000; */
  padding: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .largeImg
  {
    height: 100px;
  }
  .column
  {
    flex-direction:column
  }
  .width40
  {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .largeImg
  {
    height: 200px;
  }
}
@media only screen and (max-width: 1080px) {
  .largeImg
  {
    height: 300px;
  }
}